<div class="container mt-2">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/img/anh_bia_0.png" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="/img/anh_bia_1.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="/img/anh_bia_2.jpg" class="d-block w-100" alt="..." />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <script>
    var nextButton = document.querySelector('.carousel-control-next');
    function clickNext(){
      nextButton.click();
    }
    setInterval(clickNext, 5000);
  </script>

  <!-- <div class="mb-5">
            <img src="avt.jpg" class="img-fluid rounded" alt="">
        </div> -->

  <h1 class="mt-5">[Unishow - âm nhạc 2023] Kết nối âm nhạc - kết nối yêu thương
  </h1>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="gioithieu-tab" data-bs-toggle="tab" data-bs-target="#gioithieu-tab-pane"
        type="button" role="tab" aria-controls="gioithieu-tab-pane" aria-selected="true">Giới thiệu</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="ve-tab" data-bs-toggle="tab" data-bs-target="#ve-tab-pane" type="button" role="tab"
        aria-controls="ve-tab-pane" aria-selected="false">Vé</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade mt-3 show active" id="gioithieu-tab-pane" role="tabpanel" aria-labelledby="gioithieu-tab"
      tabindex="0">
      <p><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">Unishow
              l&agrave; chương tr&igrave;nh
              &acirc;m nhạc được tổ chức bởi một nh&oacute;m bạn trẻ với mong
              muốn mang đến cho kh&aacute;n giả những trải nghiệm &acirc;m nhạc
              đỉnh cao v&agrave; đồng thời g&oacute;p phần gi&uacute;p đỡ những
              ho&agrave;n cảnh kh&oacute; khăn. To&agrave;n bộ số tiền thu được
              từ chương tr&igrave;nh sẽ được ủng hộ cho c&aacute;c quỹ từ thiện.</span></span></span></p>

      <p><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">Unishow
              được tổ chức thường ni&ecirc;n
              với quy m&ocirc; lớn, thu h&uacute;t sự tham gia của nhiều nghệ sĩ
              nổi tiếng. C&aacute;c tiết mục trong chương tr&igrave;nh được
              d&agrave;n dựng c&ocirc;ng phu, mang đến cho kh&aacute;n giả những
              cảm x&uacute;c thăng hoa.</span></span></span></p>

      <p><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">Trong năm
              2023, Unishow sẽ được tổ chức
              v&agrave;o ng&agrave;y 20 th&aacute;ng 11 tại nh&agrave; Văn
              H&oacute;a Sinh Vi&ecirc;n. Chương tr&igrave;nh sẽ quy tụ
              d&agrave;n nghệ sĩ nổi tiếng của Việt Nam như Quang B&igrave;nh,
              Thanh Ng&acirc;n, Trọng Lịnh, Huỳnh Bin,&hellip;</span></span></span></p>

      <p><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">Unishow
              l&agrave; một chương tr&igrave;nh
              &acirc;m nhạc &yacute; nghĩa, g&oacute;p phần lan tỏa t&igrave;nh
              y&ecirc;u thương v&agrave; sự sẻ chia trong cộng đồng. H&atilde;y
              c&ugrave;ng chung tay ủng hộ Unishow để chương tr&igrave;nh
              th&agrave;nh c&ocirc;ng v&agrave; mang đến nhiều điều tốt đẹp cho
              x&atilde; hội.</span></span></span></p>

      <p><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span
              style="color:#000000"><strong>Dưới đ&acirc;y l&agrave; một số
                th&ocirc;ng tin chi tiết về chương tr&igrave;nh:</strong></span></span></span></p>

      <ul>
        <li style="list-style-type:disc"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span
                style="color:#000000"><strong>Thời gian:</strong></span></span></span><span style="font-size:11pt"><span
              style="font-family:Arial,sans-serif"><span style="color:#000000"> 20 th&aacute;ng 11 năm
                2023</span></span></span></li>
        <li style="list-style-type:disc"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span
                style="color:#000000"><strong>Địa điểm:</strong></span></span></span><span style="font-size:11pt"><span
              style="font-family:Arial,sans-serif"><span style="color:#000000">
                nh&agrave; Văn H&oacute;a Sinh Vi&ecirc;n, TP Hồ Ch&iacute; Minh</span></span></span></li>
        <li style="list-style-type:disc"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span
                style="color:#000000"><strong>Gi&aacute; v&eacute;:</strong></span></span></span><span
            style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"> 1 tỷ &ndash;
                1.2 tỷ đồng</span></span></span></li>
        <li style="list-style-type:disc"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span
                style="color:#000000"><strong>Danh s&aacute;ch nghệ sĩ tham
                  gia:</strong></span></span></span><span style="font-size:11pt"><span
              style="font-family:Arial,sans-serif"><span style="color:#000000">
                Quang B&igrave;nh MTP, Trọng Lịnh leon, Bin đ&egrave;n
                v&acirc;u, Ng&acirc;n nh&iacute; nhảnh</span></span></span></li>
      </ul>

      <p><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span
              style="color:#000000"><strong>H&atilde;y c&ugrave;ng chung tay
                ủng hộ Unishow để chương tr&igrave;nh th&agrave;nh c&ocirc;ng
                v&agrave; mang đến nhiều điều tốt đẹp cho x&atilde; hội.</strong></span></span></span></p>

      <p>&nbsp;</p>

    </div>

    <div class="tab-pane fade" id="ve-tab-pane" role="tabpanel" aria-labelledby="ve-tab" tabindex="0">
      <div class="p-2">
        <div class="calendar-name">
          <div class="calendar">
            <p class="month-year">Th10, 2023</p>
            <p class="day">28</p>
            <p class="day-of-week">Monday</p>
          </div>
          <p class="name-ticket">
            [Unishow - âm nhạc 2023] Kết nối âm nhạc - kết nối yêu thương
          </p>
        </div>
        <div class="date mt-3">
          <i class="fa-solid fa-calendar-days"></i>
          <div class="duration">
            <p class="time-start">07:00, Thu 2, 17 Th11, 2023</p>
            <p class="time-finish">09:00, Thu 2, 17 Th11, 2023</p>
          </div>
        </div>
        <div class="location mt-2">
          <i class="fa-solid fa-location-dot"></i>
          <p class="address">643 Đ. Điện Biên Phủ, Phường 1, Quận 3, Thành phố
            Hồ Chí Minh</p>
        </div>

        {{!-- <div class="mt-2 container text-center" id="seat-container"></div> --}}


        <div class="container text-center m-2">
          <a href="/ticket" type="button" class="btn btn-success" id="book-button">Đặt vé</a>
        </div>


        {{!-- <div class="mt-2 container text-center">
          {{#each chunkedSeats}}
          <div class="row">
            {{#each this}}
            <div class="seat col {{#if this.booked}}booked{{/if}}" data-seat="{{this.name}}">{{this.name}}</div>
            {{/each}}
          </div>
          {{/each}}

          <script>
            const seats = document.querySelectorAll(".seat:not(.booked)");
            seats.forEach((seat) => {
              seat.addEventListener("click", () => {
                seat.classList.toggle("selected");
              });
            });

            const bookButton = document.getElementById("book-button");
            bookButton.addEventListener("click", function () {
              var selectedSeat = document.querySelectorAll(".seat.selected");
              if (selectedSeat.length == 0) {
                alert("Please choose one");
              } else {
                selectedSeat.forEach((seat) => {
                  console.log(seat.dataset);
                });
              }
            });

          </script>

        </div> --}}
        {{! <img src="ve.png" class="img-fluid" alt="" /> }}

      </div>

    </div>

  </div>