<div class="">
  <div class="position-relative m-4">
    <div class="progress" style="height: 1px;">
      <div class="progress-bar bg-danger" id="progress-bar" role="progressbar" style="width: 0;" aria-valuenow="0"
        aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm rounded-pill"
      id="progess-first" style="width: 2rem; height:2rem; background-color: #dc3545">1</button>

    <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm rounded-pill"
      id="progess-second" style="width: 2rem; height:2rem; background-color: #6c757d">2</button>

    <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm rounded-pill"
      id="progess-third" style="width: 2rem; height:2rem; background-color: #6c757d">3</button>
  </div>

  {{! progress 1 }}
  <div class="container" style="display:block" id="container-progress-first">
    <div class="row d-flex justify-content-center align-content-center ">

      <div class="col-md shadow-lg bg-body-tertiary rounded overflow-hidden text-center mb-4">
        <div class="row bg-danger mb-2 p-0">
          <p class="mb-0 san-khau">sân khấu</p>
        </div>
        {{#each chunkedSeats}}
        <div class="row row-seat justify-content-between">
          {{#each this}}
          <div class="seat col {{this.type}} {{#if this.booked}}booked{{/if}}" data-seat="{{this.name}}">
            {{this.name}}</div>
          {{/each}}
        </div>
        {{/each}}
      </div>

      <script>
        var seatRows = document.querySelectorAll(".row-seat");
        seatRows[0].classList.add("mb-1");
        seatRows[2].classList.add("mb-1");
        seatRows[12].classList.add("mb-2");
        seatRows[14].classList.add("mb-1");

        for (let i = 0; i < seatRows.length - 1; i++) {
          var row = seatRows[i];
          row.classList.add(row.firstElementChild.classList[2]);
          var middle = row.childElementCount / 2 - 1;
          row.children[middle].style.marginRight = "20px";
        }
        seatRows[seatRows.length - 1].classList.add("end-row-seat");
      </script>

      <div class="col-md p-md-5">
        <p class="fs-3 fw-bold">Danh sách ghế ngồi</p>

        <div class="container col mb-3">
          <div class="row mb-1 d-flex">
            <span class="col color-script" style="background-color: #c750a5;"></span>
            <span class="col">Ghế đặc biệt - 169.000 vnd </span>
          </div>
          <div class="row mb-1 d-flex">
            <span class="col color-script" style="background-color: #df6161;"></span>
            <span class="col">Ghế VIP - 149.000 vnd</span>
          </div>
          <div class="row mb-1 d-flex">
            <span class="col color-script" style="background-color: #688592;"></span>
            <span class="col">Ghế thường - 89.000 vnd</span>
          </div>
          <div class="row mb-1 d-flex">
            <span class="col color-script" style="background-color: rgb(125, 255, 125);"></span>
            <span class="col">Ghế đang chọn</span>
          </div>
          <div class="row mb-1 d-flex">
            <span class="col color-script" style="background-color: rgb(190, 188, 188);"></span>
            <span class="col">Ghế đã đặt</span>
          </div>
        </div>

        <p class="invalid-feedback" id="seatError">Làm ơn chọn ít nhất một ghế</p>
        <button class="btn btn-success w-100" id="btn-next-progress-1">Bước tiếp theo</button>
      </div>
    </div>
  </div>

  {{! progress 2 }}
  <div class="container mt-5" style="display: none;" id="container-progress-second">
    <div class="mb-3">
      <label for="fullName" name="fullname" class="form-label">Họ và tên</label>
      <input type="text" class="form-control" id="fullName" required />
      <div class="invalid-feedback" id="fullNameError">
        Cung cấp tên họ đầy đủ.
      </div>
    </div>
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Địa chỉ email</label>
      <input type="email" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" required />
      <div class="invalid-feedback" id="emailError">
        Please provide a email
      </div>
      <div id="emailHelp" class="form-text">Chúng tôi sẽ không chia sẻ email
        của bạn với bất kỳ ai.</div>
    </div>
    <div class="mb-3">
      <label for="phoneNumber" class="form-label">Số điện thoại</label>
      <input type="tel" name="phonenumber" class="form-control" id="phoneNumber" pattern="[0-9]{10}" required />
      <div class="invalid-feedback" id="phoneNumberError">
        Please provide a phone number
      </div>
      <small id="phoneHelp" class="form-text">Vui lòng nhập số điện thoại hợp
        lệ (10 chữ số).</small>
    </div>
    <div class="position-relative" style="height: 50px;">
      <button class="btn btn-primary position-absolute top-0 end-0" id="btn-next-progress-2">Tiếp theo</button>
      <p class="position-absolute bottom-0" id="backToProgress1"><em>Trở lại bước 1</em></p>
    </div>
  </div>

  {{! progress 3 }}
  <div class="container mt-5" style="display: none;" id="container-progress-third">
    <h3 class="mb-2">Chương trình Share Warmth</h3>
    <p class="mt-3" sty le="line-height: 25px;">
      Tất cả số tiền này sẽ được công bố công khai trên trang UNI SHOW, tất cả sẽ được BTC giúp bạn chuyển đến cho các
      bạn trẻ ở Trung tâm bảo trợ xã hội nuôi dưỡng trẻ mồ côi và khuyết tật Hướng Dương.
    </p>

    <div class="row">
      <div class="col-md">
        <div class="mb-4">
          <p class="form-label fs-6">Số tiền bạn sẽ ủng hộ</p>
          <div class="container row" style="font-size: 13px;">
            <input class="col-5 bg-white p-2 rounded-start-2" id="donate-input" type="number" placeholder="nhập số tiền"
              style="border: none; max-width:12rem">
            <label class="col-2 bg-white p-2 rounded-end-2" style="max-width:4rem" for="">vnd</label>
          </div>
        </div>
        <p class="form-label fs-6">Danh sách ghế đã chọn</p>
        <table style="font-size: 13px;" class="table price-table">
          <thead>
            <tr>
              <th scope="col">Tên ghế</th>
              <th scope="col">Số Lượng</th>
              <th scope="col">Đơn giá</th>
            </tr>
          </thead>
          <tbody class="body-table">
            <tr id="special-row-table">
              <td id="special-name-table"></td>
              <td id="special-length-table"></td>
              <td>169.000 ₫</td>
            </tr>
            <tr id="vip-row-table">
              <td id="vip-name-table"></td>
              <td id="vip-length-table"></td>
              <td>149.000 ₫</td>
            </tr>
            <tr id="normal-row-table">
              <td id="normal-name-table"></td>
              <td id="normal-length-table"></td>
              <td>89.000 ₫</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td style="font-weight: bold;" colspan="1">Tổng cộng</td>
              <td>(tiền vé và tiền ủng hộ)</td>
              <td style="font-weight: bold;" id="total-price-table">100000 ₫</td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div class="col-md bg-white  text-center rounded-4" style="display: block;">
        <p>Thông tin chuyển khoản</p>
        <p class="fw-bold border border-success rounded" style="font-size: 14px;">Nội dung chuyển khoản :
                <span id="content-bank"></span>
                <button class="btn rounded"
                  style="padding:0 3px 0 3px; font-size:12px; background-color:rgb(168, 147, 147);"
                  onclick="copyContentBank()">Copy</button>
              </p>
        <div class="row text-center mb-2">
          <div class="col">
            <img class="img-fluid rounded" src="/img/momo.png" alt="">
            <a href="https://me.momo.vn/4GIGTgtjiVFKsNuNTzFzfE?fbclid=IwAR20WHOWKvJqL7PQMj1VOpU06LdKjDA_m1sk9DRaxGkgIinPsSs4zNoGRv8"
              class="btn mt-2" style="font-size: 12px; background-color:#69a7dd ">Thanh toán bằng điện thoại</a>
          </div>

          <div class="col rounded-2 border border-success" style="margin-right:10px;">
            {{!-- <p class="mb-4">Chuyển khoản ngân hàng</p> --}}
            <div class=" bankinfo mb-1">
              <img class="img-fluid rounded" src="/img/bankqr.png" alt="">
              <small style="font-size: 11px;">Tên ngân hàng : MB Bank</small>
              <small style="font-size: 11px;">Chủ tài khoản : Trần Trọng Lịnh</small>
              <small style="font-size: 11px;">Số tài khoản: <span id="accountNumber">0562212002</span><button
                  class="btn rounded" style="padding:0 3px 0 3px; font-size:12px; background-color:rgb(168, 147, 147);"
                  onclick="copyAccountNumber()">Copy</button></small>
            </div>
          </div>
          <script>
            function copyAccountNumber() {
              var accountNumber = document.getElementById('accountNumber');
              var textArea = document.createElement('textarea');
              textArea.value = accountNumber.textContent;
              document.body.appendChild(textArea);
              textArea.select();
              document.execCommand('copy');
              document.body.removeChild(textArea);
            }

            function copyContentBank(){
              var contentBank = document.getElementById('content-bank');
              var textArea = document.createElement('textarea');
              textArea.value = contentBank.textContent;
              document.body.appendChild(textArea);
              textArea.select();
              document.execCommand('copy');
              document.body.removeChild(textArea);
            }
          </script>
        </div>
      </div>


      <div class="position-relative mt-5" style="height: 50px;">
        <button class="btn btn-success position-absolute top-0 end-0" id="post-form-ticket-btn">Xác nhận đã thanh toán
          thành công</button>
        <p class="position-absolute bottom-0" id="backToProgress2"><em>Trở lại bước 2</em></p>
      </div>
    </div>
  </div>

  <script src="/script/ticket.js"></script>