* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-family: sans-serif;
  line-height: 35px; }

.carousel {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }

.calendar-name {
  display: flex;
  flex-direction: row; }
  .calendar-name .calendar {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
    .calendar-name .calendar .month-year {
      background-color: #f03737;
      color: white;
      font-size: 12px;
      padding: 2px;
      margin: 0; }
    .calendar-name .calendar .day {
      font-size: 30px;
      margin: 5px 0 5px 0;
      padding: 0; }
    .calendar-name .calendar .day-of-week {
      border-top: 1px groove #c7c1c5;
      margin: 0;
      font-size: 12px; }
  .calendar-name .name-ticket {
    margin: 0 0 0 20px;
    font-size: 20px;
    font-family: sans-serif; }

.date {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px; }
  .date .duration {
    margin-left: 20px; }
    .date .duration .time-start {
      margin: 0; }
    .date .duration .time-finish {
      margin: 0; }

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px; }
  .location .address {
    margin: 0;
    margin-left: 20px; }

.seat {
  font-size: 12px;
  background-color: #bebcbc;
  margin: 2px;
  border-radius: 5px;
  padding: 0; }

#seat-container {
  border-radius: 5px;
  cursor: pointer; }

.seat.selected {
  background-color: #09a309; }

.seat.booked {
  background-color: red; }
